{% extends 'base.html.twig' %}

{% block title %} 
    Tableau Controller
{% endblock %}

{% block body %}
        <ul>
            
            <li>
                {{ nom[0] }}
                {{ prenom[0] }}


            </li>
            <li>
                {{ nom[1] }}
                {{ prenom[1] }}


            </li>
            <li>
                {{ nom[3] }}
                {{ prenom[3] }}
            </li>

            <li>
                {{ nom[4] }}
                {{ prenom[4] }}
            </li>
            
            <li>
                {{ nom[5] }}
                {{ prenom[5] }}
            </li>
            
            <li>
                {{ nom[6] }}
                {{ prenom[6] }}
            </li>
            
            <li>
                {{ nom[7] }}
                {{ prenom[7] }}
            </li>
            
            <li>
                {{ nom[8] }}
                {{ prenom[8] }}
            </li>            
        </ul>


{% endblock %}
