{% extends 'base.html.twig' %}

{% block title %} VIEW SYMFONY {% endblock %}

{% block body %}
<h2> VIEW SYMFONY </h2>
<hr>

<ul>
<h1>Opération de calcul</h1>

     <div>
        <h3>Addition</h3>
        Afficher le resultat de la somme X + Y
            {% set x = 15 %} 
            {% set y = 20  %}
            {% set Somme = x + y %}
            <br>
            {{ x }} + {{ y }} = {{ Somme }} <br>
            Reponse = {{ Somme }}
    </div>
    <div>
        <h3>Soustraction</h3>
        Afficher le resultat de la soustraction X - Y
            {% set x = 15 %} 
            {% set y = 20  %}
            {% set Somme = x - y %}
            <br>
            {{ x }} - {{ y }} = {{ Somme }} <br>
            Reponse = {{ Somme }}
    </div>
     <div>
        <h3>Multiplication</h3>
        Afficher le resultat de la mutiplication X * Y
            {% set x = 15 %} 
            {% set y = 20  %}
            {% set Somme = x * y %}
            <br>
            {{ x }} * {{ y }} = {{ Somme }} <br>
            Reponse = {{ Somme }}
    </div>
    <div>
        <h3>Division</h3>
        Afficher le resultat de la Division X / Y
            {% set x = 15 %} 
            {% set y = 20  %}
            {% set Somme = x / y %}
            <br>
            {{ x }} / {{ y }} = {{ Somme }} <br>
            Reponse = {{ Somme }}
    </div>
    <div>
        <h3>Puissance</h3>
        Afficher le resultat de la Puissance X**  Y**
            {% set x = 15 %} 
            {% set y = 20  %}
            {% set Somme = x + y %}
            <p>{{ x }} + {{ y }} = {{ Somme}}</p>
            <br>
            <p>{{ x }}^2 = {{ x**2 }}</p>
            <p>{{ y }}^2 = {{ y**2 }}</p>             
    </div>        




</ul>

{% endblock %}
