{% extends 'base.html.twig' %}

{% block title %}Nouvelle location{% endblock %}

{% block body %}
    <h1>Location index</h1>
<table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Titre</th>
                <th>Catégorie</th>
                <th>Image</th>
                <th>Description</th>
                <th>Valeur</th>
                <th>Adresse</th>
                <th>Accessibilité</th>
                <th>Status</th>
                <th>A la une</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ location.date| date("d/m/Y") }}</td>
                <td>{{ location.Titre }}</td>
                <td>{{ location.categorie }}</td>
                <td>{{ location.image }}</td>
                <td>{{ location.description }}</td>
                <td>{{ location.valeur }}</td>
                <td>{{ location.adresse }}</td>
                <td>{{ location.accessibility }}</td>
                <td>{{ location.status }}</td>
                <td>{{ location.alaune }}</td>
            </tr>
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
