{% extends 'base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}
<td><button><a href="{{ path('users_index') }}">Retour</a></button></td>

    <h1>Utilisateurs</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ utilisateurs.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ utilisateurs.noms }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ utilisateurs.prenoms }}</td>
            </tr>
             <tr>
                <th>Photo</th>
                <td>{{ utilisateurs.photo }}</td>
            </tr>
             {# <tr>
                <th>Date naissance</th>
                <td>{{ utilisateurs.datenaissance }}</td>
            </tr> #}
             <tr>
                <th>Login</th>
                <td>{{ utilisateurs.login }}</td>
            </tr>
             <tr>
                <th>Password</th>
                <td>{{ utilisateurs.password }}</td>
            </tr>
             <tr>
                <th>Adresse</th>
                <td>{{ utilisateurs.adresse }}</td>
            </tr> 
             <tr>
                <th>Email</th>
                <td>{{ utilisateurs.email }}</td>
            </tr>
             <tr>
                <th>Role</th>
                <td>{{ utilisateurs.role }}</td>
            </tr>         
        </tbody>
    </table>
{% endblock %}
