{% extends 'base.html.twig' %}
{% block body %}
    <button class="button"><a href="{{ path('administration_biblio') }}">Administration</a></button>
    <h1>Utilisateurs index</h1>
<table class="table">
        <thead>
        <td><button><a href="{{ path('utilisateur_new') }}">Nouveau</a></button></td>
        <td><button><a href="{{ path('users_newform') }}">Nouveau Formulaire</a></button></td>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                {# <th>Prenom</th>
                <th>Photo</th>
                <th>Date naissance</th>
                <th>Login</th>
                <th>Password</th>
                <th>Adresse</th>
                <th>Email</th>
                <th>Role</th> #}
                <th>Civilité</th>
                <th>Statut</th>

            </tr>
        </thead>
        <tbody>
        {% for utilisateur in utilisateurs %}
            <tr>
                <td>{{ utilisateur.id }}</td>
                <td>{{ utilisateur.noms }}</td>
                {# <td>{{ utilisateur.prenoms }}</td> #}
                {# <td>{{ utilisateur.photo }}</td> #}
                {# <td>{{ utilisateur.datenaissance | date("d/m/Y")}}</td>
                <td>{{ utilisateur.login }}</td>
                <td>{{ utilisateur.password }}</td>
                <td>{{ utilisateur.adresse }}</td>
                <td>{{ utilisateur.email }}</td>
        {% for role in utilisateur.roles %}    
                <td>{{ role }}</td> 
        {% endfor %} #}
                <td>{{ utilisateur.civilite }}</td>
                <td>{{ utilisateur.statut }}</td>       
                <td><button><a href="{{ path('utilisateurs_show' , {id: utilisateur.id}) }}">Cliquez</a></button></td>
                <td><button><a href="{{ path('edit_utilisateur' , {id: utilisateur.id}) }}">Editer</a></button></td>
                <td><button><a href="{{ path('delete_utilisateurs' , {id: utilisateur.id}) }}">Suppression</a></button></td>
            </tr>
        {% else %}
            {<tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
