{% extends 'base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}
    <h1>Utilisateurs index</h1>
<table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Photo</th>
                <th>Date de naissance</th>
                <th>Login</th>
                <th>Mot de pass</th>


            </tr>
        </thead>
        <tbody>
        {# {% include 'menu_article.html.twig' %} #}
        {% for article in articles %}
        {# https://twig.symfony.com/doc/3.x/tags/for.html #}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.titre }}</td>
                <td>{{ article.resume }}</td>
                <td><button><a href="{{ path('article_id' , {id: article.id}) }}">Cliquez</a></button></td>
                {# <td>{{ article.contenu }}</td>
                <td>{{ article.date| date("d/m/Y") }}</td>
                <td>{{ article.image }}</td> #}
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
{% endblock %}
