{% extends 'base.html.twig' %}

{% block body %}
<h1>Auteur</h1>
{# <td><button><a href="{{ path('auteur_new') }}">Nouveau</a></button></td> #}
<td><button><a href="{{ path('newwithform') }}">Nouveau Formulaire</a></button></td>

<table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Mail</th>
                <th>Action</th>
                <th>Edition</th>
            </tr>
        </thead>
        <tbody>
        {% for auteurs in auteur %}
            <tr>
                <td>{{ auteurs.id }}</td>
                <td>{{ auteurs.noms }}</td>
                <td>{{ auteurs.prenoms }}</td>
                <td>{{ auteurs.mail }}</td>
                <td><button><a href="{{ path('auteur_show' , {id: auteurs.id}) }}">Cliquez</a></button></td>
                <td><button><a href="{{ path('edit_auteur' , {id: auteurs.id}) }}">Editer</a></button></td>
                {# <td><button><a href="{{ path('delete_article' , {id: articl.id}) }}">Supression</a></button></td> #}
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
