{% extends 'base.html.twig' %}

{% block title %} VIEW SYMFONY {% endblock %}

{% block body %}

<h2> VIEW SYMFONY </h2>
<hr>

<ul> 
    <h3> 
        <a href="{{ path('index_bibliotheque') }}">Accueil</a>
        <a href="{{ path('apropos_bibliotheque') }}">A propos</a>
        <a href="{{ path('livre_bibliotheque') }}">Les livres</a>
        <a href="{{ path('location_bibliotheque') }}">Les locations</a>
        <a href="{{ path('documentation_bibliotheque') }}">Documentations</a>
        <a href="{{ path('contacter_bibliotheque') }}">Nous contacter</a>
        <a href="{{ path('connexion_bibliotheque') }}">Connexion</a>
        <a href="{{ path('administration_bibliotheque') }}">Administration</a> 
    </h3>
</ul>
{% endblock %}
