{% extends 'base.html.twig' %}

{% block title %} Menu Admin {% endblock %}

{% block body %}

<h2> Partie administration de la bibliotheque </h2>
<hr>

<ul> 
    <h3> 
        <button><a href="{{ path('index_biblio') }}">Accueil</a></button>
        <button><a href="{{ path('system_biblio') }}">Système</a></button>
        <button><a href="{{ path('utilisateurs_biblio') }}">Utilisateur</a></button>
        <button><a href="{{ path('contenu_biblio') }}">Contenu</a></button>
        <button><a href="{{ path('extenssion_biblio') }}">Extenssions</a></button>
        <button><a href="{{ path('logout_biblio') }}">Logout</a></button>
    </h3>
</ul>
{% endblock %}
