{% extends 'base.html.twig' %}

{% block title %}Nouvelle Catégorie{% endblock %}

{% block body %}
    <button class="button"><a href="{{ path('administration_biblio') }}">Administration</a></button>
    <h1>Catégories index</h1>
<table class="table">
        <thead>
        <td><button><a href="{{ path('categorie_new') }}">Nouveau</a></button></td>
        <td><button><a href="{{ path('cat_newform') }}">Nouveau Formulaire</a></button></td>
        <div>
            {{ form(form_search)}}
        </div> 
        <td><h2>Nombre de catégories {{ nbcategorie }}</h2></td>
        {% if categoriesearch %}
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Resume</th>
                <th>Action</th>
                <th>Edition</th>
            </tr>
        </thead>
        <tbody>
        {% for categori in categoriesearch %}
            <tr>
                <td>{{ categori.id }}</td>
                <td>{{ categori.titre }}</td>
                <td>{{ categori.resume }}</td>
                <td><button><a href="{{ path('categories_show' , {id: categori.id}) }}">Cliquez</a></button></td>
                <td><button><a href="{{ path('edit_categorie' , {id: categori.id}) }}">Editer</a></button></td>
                <td><button><a href="{{ path('delete_categorie' , {id: categori.id}) }}">Suppression</a></button></td>



            </tr>
        {% else %}
            {<tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        {% endif %}
        </tbody>
    </table>
{% endblock %}
