{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
<td><button><a href="{{ path('articles_index') }}">Retour</a></button></td>
    <h1>Articles</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ article.Titre }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ article.Image }}</td>
            </tr>
            <tr>
                <th>Resume</th>
                <td>{{ article.Resume }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ article.Contenu }}</td>
            </tr>
            <tr>
                <th>Catégorie</th>
                <td>{{ article.categorie }}</td>                
            </tr>
             <tr>
                <th>Auteur</th>
                <td>{{ article.auteur }}</td>           
            </tr>
             <tr>
                <th>Commentaire</th>
                <td>{{ article.commentaire }}</td>           
            </tr>
        </tbody>
    </table>
{% endblock %}
