{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
    <h1>Articles</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ article.Titre }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ article.Image }}</td>
            </tr>
            <tr>
                <th>Resume</th>
                <td>{{ article.Resume }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ article.Contenu }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ article.Date ? article.Date|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
