{% extends 'base.html.twig' %}

{% block title %}Nouveaux Articles{% endblock %}

{% block body %}
    <h1>Articles index</h1>
<table class="table">
        <thead>
        <td><button><a href="{{ path('article_new') }}">Nouveau</a></button></td>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Resume</th>
                <th>Action</th>
                {# <th>Contenu</th>
                <th>Date</th>
                <th>Image</th> #}


            </tr>
        </thead>
        <tbody>
        {% for articl in article %}
            <tr>
                <td>{{ articl.id }}</td>
                <td>{{ articl.titre }}</td>
                <td>{{ articl.resume }}</td>
               <td><button><a href="{{ path('articles_show' , {id: articl.id}) }}">Cliquez</a></button></td>
                {# <td>{{ articl.contenu }}</td>
                <td>{{ articl.date| date("d/m/Y") }}</td>
                <td>{{ articl.image }}</td> #}
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
{% endblock %}
