{% extends 'base.html.twig' %}

{% block title %}Nouveaux Articles{% endblock %}

{% block body %}
    <button class="button"><a href="{{ path('administration_biblio') }}">Administration</a></button>
    <h1>Articles index</h1>
<table class="table">
        <thead>
        <td><button><a href="{{ path('article_new') }}">Nouveau</a></button></td>
        <td><button><a href="{{ path('newform') }}">Nouveau Formulaire</a></button></td>
        <td><button><a href="{{ path('articles_indexo') }}">Archive Publier</a></button></td>
        <td><button><a href="{{ path('articles_dqlcategorie') }}">Recherche categorie</a></button></td>
        <td><button><a href="{{ path('articles_dqlarticleauteur') }}">Recherche d'article pour un auteur</a></button></td>
       
        <div>
            {{ form(form_search)}}
        </div>  
                
        <td><h2>Nombre d'article {{ nbarticle }}</h2></td>

        {% if articlesearch %}

            <tr>             
                <th>Titre</th>                           
            </tr>
        </thead>
        <tbody>
        {% for articl in articlesearch %}
            <tr>
               
                <td>{{ articl.titre }}</td>            
            </tr>           
        {% else %}
            <tr>
                <td colspan="5">Pas d'enregistrement trouvé</td>
            </tr>
        {% endfor %}
        {% endif %}
        </tbody>
    </table>
{% endblock %}
