{% extends 'base.html.twig' %}

{% block title %}Nouveaux Articles{% endblock %}

{% block body %}
    <button class="button"><a href="{{ path('administration_biblio') }}">Administration</a></button>
    <h1>Articles index</h1>
<table class="table">
        <thead>
        <td><button><a href="{{ path('article_new') }}">Nouveau</a></button></td>
        <td><button><a href="{{ path('newform') }}">Nouveau Formulaire</a></button></td>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Resume</th>
                <th>Categorie</th>
                <th>Auteur</th>
                <th>Action</th>
                <th>Edition</th>
                <th>Suppression</th>               
            </tr>
        </thead>
        <tbody>
        {% for articl in article %}
            <tr>
                <td>{{ articl.id }}</td>
                <td>{{ articl.titre }}</td>
                <td>{{ articl.resume }}</td>
                <td>{{ articl.categorie.titre }}</td>
                <td>{{ articl.auteur.noms }}</td>
                {# <td>{{ articl.commentaires.commentaire }}</td> #}
                <td><button><a href="{{ path('articles_show' , {id: articl.id}) }}">Cliquez</a></button></td>
                <td><button><a href="{{ path('edit_article' , {id: articl.id}) }}">Editer</a></button></td>
                <td><button><a href="{{ path('delete_article' , {id: articl.id}) }}">Supression</a></button></td>             
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Pas d'enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
