{% extends 'base.html.twig' %}

{% block title %} Menu Admin {% endblock %}
{% block body %}
<style>
    .button { background-color : cyan;margin: 0 auto}
    .h2 { text-align : center; }
    .diventete { background-color : grey;width:70%;margin: 0 auto
    }
</style>
<div class="diventete">
<h2 class="h2"> Partie administration de la bibliotheque </h2>
</div>
<hr>

<ul> 
    <h3> 
        <button class="button"><a href="{{ path('index_biblio') }}">Accueil</a></button>
        {# <button class="button"><a href="{{ path('alaune') }}">A la une</a></button> #}
        <button class="button"><a href="{{ path('system_biblio') }}">Système</a></button>
        <button class="button"><a href="{{ path('users_index') }}">Utilisateur</a></button>
        <button class="button"><a href="{{ path('articles_index') }}">Contenu</a></button>
        <button class="button"><a href="{{ path('extenssion_biblio') }}">Extenssions</a></button>
        {# <button class="button"><a href="{{ path('categorie_biblio') }}">Categorie</a></button> #}
        <button class="button"><a href="{{ path('logout_biblio') }}">Logout</a></button>
    </h3>
</ul>
{% include "footer.html.twig" %}
{% endblock %}